

<!--<div class="row justify-content-between mt-3">-->
<!--  <div class="col-lg-4 col-xl-4 col-md-4 mb-4" *ngFor="let etf of etfList">-->
<!--    <div class="card shadow" (click)="getDetails(etf.symbol)">-->
<!--      <div class="card-body">-->
<!--        <div class="row justify-content-between">-->
<!--          <div class="col-md-4 text-start text-uppercase font-weight-bold">-->
<!--            <b class="symbol">{{etf.symbol}}</b>-->
<!--          </div>-->
<!--          <div class="col-md-4 text-center font-weight-bold">-->
<!--            <b class="symbol" [ngClass]="etf.percent_change < 0 ? 'red' : 'green'">{{etf.percent_change}}%</b>-->
<!--          </div>-->
<!--          <div class="col-md-4 text-end price">-->
<!--            <p class="symbol">{{etf.price}} {{etf.currency}}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row justify-content-between">-->
<!--          <div class="col text-start">-->
<!--            <p class="small" style="font-size: 20px">{{etf.name}}</p>-->
<!--          </div>-->
<!--          <div class="col text-end symbol" style="font-size: 20px">-->
<!--            <b>{{etf['fifty_two_week']['range']}}</b>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!---->

<div class="row justify-content-between mt-3">
  <div class="col-xl-3 col-md-3 mb-3" *ngFor="let stock of etfList">
    <div class="card p-3 mb-2" (click)="getDetails(stock.symbol)">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
          <div class="ms-2 c-details">
            <!--            <h3 class="mb-0">{{stock.name}}</h3> <span>{{stock.symbol}} - {{stock.exchange}}</span>-->
            <h3>{{stock.symbol}}</h3>
          </div>
        </div>
        <div class="badge"> <span><h3 class="heading price">{{stock.price}} {{stock.currency}}</h3></span> </div>
      </div>
      <div class="mt-3">
        <div class="row justify-content-between">
          <div class="col-md-7 col-xl-7 col-sm-7 text-start">
            <p class="font-weight-light mt-2">52 week: {{stock['fifty_two_week']['range']}}</p>
            <small><b>{{stock.name}}</b></small>
          </div>
          <div class="col text-end">
            <p class="font-weight-light mt-2 " style="font-size: 40px" [ngClass]="stock.percent_change < 0 ? 'red' : 'green'"> {{stock.percent_change}}%</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



